{% extends "base.html" %}
{% load static %}

{% block page_header %}
{% endblock %}

{% block content %}
<div class="container">
    <div class="row">
        <div class="col text-center mt-3">
            <h1 class="display-4 header">About</h1>
        </div>
    </div>
    <div class="row">
        <div class="text-center mt-4">
            <h3 class="content">NorthWest Scuba Diving was established in 2020 on the beautiful northwest coast of Ireland. The 5 star dive center is located in Mullaghmore, Co.Sligo and is perfectly positioned for divers to experience the beautiful underwater world of the North-West Atlantic.</h3>
        </div>
        <div class="text-center mt-4">
            <h3 class="content">Divers have the opportunity to explore the stunning natural wonders just off the shore from Mullaghmore, take a short boat ride around the coast to dive BallyConnell, or head across Donegal bay to experience the wonders of the many spectacular dives the coast of Donegal has to offer.</h3>
        </div>
    </div>
    <div class="row">
        <div class="text-center mt-4">
            <h3 class="about">Courses</h3>
            <h2>Interested in learning to dive? We offer everything you need to become scuba certified. From Try a Dive to Rescue diver certification, our dive school can see you through your scuba journey.</h2>
            <div>
                <img src="../../../media/diver_ascending.jpg" class="about_img" alt="Diver ascending">
            </div>
            <h2 class="content">Get in contact to discuss your training plan!</h2>
            <a href="{% url 'courses' %}">Click here to see avalible courses</a>

        </div>
    </div>
    <div class="row">
        <div class="text-center mt-4">
            <h3 class="about">Dive with us</h3>
            <h2 class="content">Already scuba certified and looking to dive with us? We offer shore and boat dive options as well as refresher dives for those looking to get back to diving after a hiatus.</h2>
            <div>
                <img src="../../../media/diver_ascending.jpg" class="about_img" alt="Diver ascending">
            </div>
            <h2 class="content">Get in contact with us to plan your dive!</h2>
            <a href="{% url 'qualified' %}">Click here to see your options</a>
        </div>
    </div>
</div>
{% endblock %}