{% extends "base.html" %}
{% load static %}

{% block page_header %}
{% endblock %}

{% block content %}
    <div class="container">
        <div class="row">
            <div class="col text-center mt-3">
                <h1 class="display-4 header">Get in Contact</h1>
            </div>
        </div>
        <div class="card">

            <!--Section: Contact v.2-->
            <section class="mb-4 card_contents">

                <!--Section description-->
                <p class="text-center w-responsive mx-auto mb-5">Drop us a message and we will get back in touch asap!</p>

                <div class="row">

                    <!--Grid column-->
                    <div class="col-md-9 mb-md-0 mb-5">
                        <form id="contact-form" name="contact-form" action="mail.php" method="POST">

                            <!--Grid row-->
                            <div class="row">

                                <!--Grid column-->
                                <div class="col-md-6">
                                    <div class="md-form mb-0">
                                        <input type="text" id="name" name="name" class="form-control">
                                        <label for="name" class="">Your name</label>
                                    </div>
                                </div>
                                <!--Grid column-->

                                <!--Grid column-->
                                <div class="col-md-6">
                                    <div class="md-form mb-0">
                                        <input type="text" id="email" name="email" class="form-control">
                                        <label for="email" class="">Your email</label>
                                    </div>
                                </div>
                                <!--Grid column-->

                            </div>
                            <!--Grid row-->

                            <!--Grid row-->
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="md-form mb-0">
                                        <input type="text" id="subject" name="subject" class="form-control">
                                        <label for="subject" class="">Subject</label>
                                    </div>
                                </div>
                            </div>
                            <!--Grid row-->

                            <!--Grid row-->
                            <div class="row">

                                <!--Grid column-->
                                <div class="col-md-12">

                                    <div class="md-form">
                                        <textarea type="text" id="message" name="message" rows="2"
                                            class="form-control md-textarea"></textarea>
                                        <label for="message">Your message</label>
                                    </div>

                                </div>
                            </div>
                            <!--Grid row-->

                        </form>

                        <div class="text-center">
                            <a class="btn btn-primary" onclick="document.getElementById('contact-form').submit();"
                                href="{% url 'message_sent' %}">Send</a>
                        </div>
                        <div class="status"></div>
                    </div>
                    <!--Grid column-->

                    <!--Grid column-->
                    <div class="col-md-3 text-center">
                        <ul class="list-unstyled mb-0">
                            <li><i class="fas fa-map-marker-alt fa-2x"></i>
                                <p>Mullaghmore Harbour, Mullaghmore, Co. Sligo</p>
                            </li>

                            <li><i class="fas fa-phone mt-4 fa-2x"></i>
                                <p>+ 353 87 709 5923</p>
                            </li>

                            <li><i class="fas fa-envelope mt-4 fa-2x"></i>
                                <p>northwestscuba@gmail.com</p>
                            </li>
                        </ul>
                    </div>
                    <!--Grid column-->

                </div>

            </section>
        </div>
        <!--Section: Contact v.2-->

        <div class="row">
            <div class="col text-center mt-3">
                <h1 class="display-4 header">Sign up for our Newsletter</h1>
            </div>
        </div>
        <div class="card">

            <!--Section: Contact v.2-->
            <section class="mb-4 card_contents">

                <!--Section description-->
                <p class="text-center w-responsive mx-auto mb-5">Sign up for our Newsletter to get monthly updates on our
                    upcoming training courses and dive trips!</p>

                <div class="row">

                    <!--Grid column-->
                    <div class="col-md-12 mb-md-0 mb-12">
                        <form id="contact-form" name="contact-form" action="mail.php" method="POST">

                            <!--Grid row-->
                            <div class="row">

                                <!--Grid column-->
                                <div class="col-md-6">
                                    <div class="md-form mb-0">
                                        <input type="text" id="name" name="name" class="form-control">
                                        <label for="name" class="">Your name</label>
                                    </div>
                                </div>
                                <!--Grid column-->

                                <!--Grid column-->
                                <div class="col-md-6">
                                    <div class="md-form mb-0">
                                        <input type="text" id="email" name="email" class="form-control">
                                        <label for="email" class="">Your email</label>
                                    </div>
                                </div>
                                <!--Grid column-->

                            </div>
                            <!--Grid row-->

                        </form>

                        <div class="text-center">
                            <a class="btn btn-primary" onclick="document.getElementById('contact-form').submit();"
                                href="{% url 'newsletter_confirmation' %}">Sign me Up!</a>
                        </div>
                        <div class="status"></div>
                    </div>

                </div>

            </section>
        </div>

    </div>
{% endblock %}