{% extends "base.html" %}
{% load static %}

{% block page_header %}
{% endblock %}

{% block content %}
<div class="container">
    <div class="row">
        <div class="col-12 col-md-12 col-lg-12 col-sm-12 my-auto text-center">
            <h1 class="display-4 mb-4 mt-2">
                Welcome to NorthWest Scuba Diving
            </h1>
        </div>
    </div>
    <hr>
    <div class="row d-flex justify-content-around mr-2 ml-2">
        <div class='card box col-12 col-md-5 mb-3 mr-sm-3 ml-sm-3 py-5 text-center'>
            <h3 class="textbox">Our Courses</h3>
            <p class="infpara">New to scuba diving? Get started by exploring our courses!</p>
            <a href="{% url 'courses' %}" class="btn btn-secondary button">
                Courses
            </a>
        </div>
        <div class='card box col-12 col-md-5 mb-3 py-5 text-center'>
            <h3 class="textbox">Go Diving</h3>
            <p class="infpara">Already scuba certified? Explore our diving options!</p>
            <a href="{% url 'qualified' %}" class="btn btn-secondary button">
                Dives
            </a>
        </div>
    </div>
    <section>
        <hr>
        <div class="row w-100 m-0 d-none d-lg-flex">
            <div class="col m-0 py-0">
                <div class="hero-container img-fluid">
                    <div id="hero-images">
                        <div class="hero" id="hero1"></div>
                        <div class="hero" id="hero2"></div>
                        <div class="hero" id="hero3"></div>
                    </div>
                </div>
            </div>
            <hr>
        </div>

    </section>
    <div class="row">
        <div class="col-md-12 col-sm-12 my-auto text-center">
            <h3>
                NorthWest Scuba Diving was established in 2020 on the beautiful northwest coast of Ireland. The 5 star
                dive center is located in Mullaghmore, Co.Sligo and is perfectly positioned for divers to experience the
                beautiful underwater world of the North-West Atlantic.
            </h3>
        </div>
    </div>
    <hr>
    <div class="row w-100 m-0">
        <div class="col-md-2"></div>
        <div class='card box col-md-8 mb-3 py-5 text-center' id='contact_card'>
            <h3 class="textbox">Get in Touch</h3>
            <p class="infpara">If you have a question or would like some more information, please get in touch!</p>
            <a href="{% url 'contact' %}" class="btn btn-secondary button">
                Contact Us!
            </a>
            <p id="news_link" class="infpara">Or<a href="{% url 'newsletter' %}"> sign up </a>to our monthy newsletter to be the first to know about upcoming courses and dive trips!</p>

        </div>
        <div class="col-md-2"></div>
    </div>
    <hr>
</div>
{% endblock %}