{% extends "base.html" %}
{% load static %}

{% block page_header %}
{% endblock %}

{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-7 col-md-12 my-auto text-center">
                <h1 class="display-4 text-black header">
                    Welcome to NorthWest Scuba Diving
                </h1>
                <div class="my-5">
                    <h4>
                        <a href="" class="shop-now-button btn btn-lg rounded-0 text-uppercase py-3">Dive In!</a>
                    </h4>
                </div>
            </div>
        </div>
        <section>
            <div class="hero-container img-fluid">
                <div id="hero-images">
                    <img src="{}" alt="Diver with Dolphin" class="hero">
                    <img src="{}" alt="Diver surfacing" class="hero">
                    <img src="{}" alt="Jellyfish underwater" class="hero">
                </div>
            </div>
          </section>
    </div>
{% endblock %}