{% extends 'base.html' %}
{% load static %}
{% block content %}
    <div class="container w-100">
        <div class="card">
            <div class="card_contents">
                <div class="row w-100 text-center">
                    <div clas="col-lg-3 col-md-3 col-sm-2"></div>
                    <div class="col-lg-6 col-md-6 col-sm-8">
                        <h1 class="display-4 text-black">
                            The page you are looking for isn't available
                        </h1>
                        <div class="my-5">
                            <h4>
                                <a href="{% url 'home' %}"
                                    class="btn btn-lg py-3">
                                        Return to Northwest Scuba Diving
                                </a>
                            </h4>
                        </div>
                    </div>
                    <div clas="col-lg-3 col-md-3 col-sm-2"></div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}