<div class="navbar-text" id="main-nav">
    <hr>
    <ul class="navbar-nav w-auto mx-auto">
        <li class="nav-item">
            <a class="font-weight-bold nav-link text-black mr-3 ml-3" href="{% url 'home' %}" id="home-link" aria-haspopup="true" aria-expanded="false">
                Home
            </a>
        </li>
        <li class="nav-item">
            <a class="font-weight-bold nav-link text-black mr-3 ml-3" href="{% url 'about' %}" id="about-link" aria-haspopup="true" aria-expanded="false">
                About
            </a>
        </li>
        <li class="nav-item">
            <a class="font-weight-bold nav-link text-black mr-3 ml-3" href="{% url 'qualified' %}?category=qualified_diver" id="dive-with-us-link" aria-haspopup="true" aria-expanded="false">
                Dive with Us
            </a>
        </li>

        <li class="nav-item">
            <a class="font-weight-bold nav-link text-black mr-3 ml-3" href="{% url 'courses' %}?category=courses" id="learn-to-dive-link" aria-haspopup="true" aria-expanded="false">
                Learn to Dive
            </a>
        </li>
        <li class="nav-item">
            <a class="font-weight-bold nav-link text-black mr-3 ml-3" href="{% url 'gear' %}?category=gear_rental" id="gear-rental-link" aria-haspopup="true" aria-expanded="false">
                Gear Rental
            </a>
        </li>
        <li class="nav-item">
            <a class="font-weight-bold nav-link text-black mr-3 ml-3" href="{% url 'get_in_contact' %}" id="contact-link" aria-haspopup="true" aria-expanded="false">
                Get in Contact
            </a>
        </li>
    </ul>
    <hr>
</div>