{% load static %}
<!doctype html>
<html lang="en">
  <head>

    {% block meta %}
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    {% endblock %}

    {% block extra_meta %}
        <meta name="description" content="A dive center or school website for renting scuba gear or booking into a dive">
        <meta name="keywords" content="school, center, records, club, scuba diving, scuba, underwater, activity, west of ireland,">
    {% endblock %}

    {% block corecss %}
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Acme&display=swap" rel="stylesheet">
        <link rel="stylesheet" href="{% static 'css/base.css' %}">
    {% endblock %}

    {% block extra_css %}
    {% endblock %}

    {% block corejs %}
        <script src="https://kit.fontawesome.com/a31ea7cd5d.js" crossorigin="anonymous"></script>
        <script src="https://code.jquery.com/jquery-3.4.1.min.js" integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
        <!-- Stripe -->
        <script src="https://js.stripe.com/v3/"></script>
    {% endblock %}

    {% block extra_js %}
    {% endblock %}

    <title>NorthWest Scuba Diving {% block extra_title %}{% endblock %}</title>
  </head>
  <body>
    <header class="container-fluid">
        <div id="topnav" class="row bg-white pt-lg-2">
            <div class="col-12 col-lg-12 my-auto text-center">
                <a href="{% url 'home' %}" class="nav-link main-logo-link">
                    <h2 class="logo-font">NorthWest Scuba Diving</h2>
                </a>
            </div>
            <div class="row w-100 m-0">
                <div class="col-md-4 col-sm-1"></div>
                <div class="col-md-4 col-sm-10 text-center" id="center-about">
                    <div id="circle-container">
                        <div class="img-fluid" id="circle-cover-image"></div>
                    </div>
                </div>
            <div class="col-md-4 col-sm-1"></div>
            </div>
            <div class="col-12 col-lg-12">
                <ul class="list-inline list-unstyled text-lg-right text-sm-right my-0" id="dropdown-list">
                    <li class="list-inline-item dropdown m-0">
                        <a class="text-black nav-link" href="#" id="user-options" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            <div class="text-center">
                                <div><i class="fas fa-user fa-lg"></i></div>
                                <p class="my-0">My Account</p>
                            </div>
                        </a>
                        <div class="dropdown-menu border-0" aria-labelledby="user-options">
                            {% if request.user.is_authenticated %}
                                {% if request.user.is_superuser %}
                                    <a href="{% url 'add_product' %}" class="dropdown-item">Product Management</a>
                                    <a href="{% url 'orders' %}" class="dropdown-item">Customer Orders</a>
                                {% endif %}
                                <a href="{% url 'profile' %}" class="dropdown-item">My Profile</a>
                                <a href="{% url 'newsletter' %}" class="dropdown-item">Newsletter</a>
                                <a href="{% url 'account_logout' %}" class="dropdown-item">Logout</a>
                            {% else %}
                                <a href="{% url 'account_signup' %}" class="dropdown-item">Register</a>
                                <a href="{% url 'account_login' %}" class="dropdown-item">Login</a>
                            {% endif %}
                        </div>
                    </li>
                    <li class="list-inline-item">
                        <a class="{% if grand_total %}text-info font-weight-bold{% else %}text-black{% endif %} nav-link" href="{% url 'view_bag' %}">
                            <div class="text-center">
                                <div><i class="fas fa-shopping-bag fa-lg"></i></div>
                                <p class="my-0">
                                    {% if grand_total %}
                                        €{{ grand_total|floatformat:2 }}
                                    {% else %}
                                        €0.00
                                    {% endif %}
                                </p>
                            </div>
                        </a>
                    </li>
                </ul>
            </div>
            <div class="row bg-white w-100">
                <nav class="navbar navbar-light text-center w-100">
                    {% include 'includes/main_nav.html' %}
                </nav>
            </div>
        </div>
    </header>

    {% if messages %}
        <div class="message-container">
            {% for message in messages %}
            {% with message.level as level %}
                {% if level == 40 %}
                    {% include 'includes/toasts/toast_error.html' %}
                {% elif level == 30 %}
                    {% include 'includes/toasts/toast_warning.html' %}
                {% elif level == 25 %}
                    {% include 'includes/toasts/toast_success.html' %}
                {% else %}
                    {% include 'includes/toasts/toast_info.html' %}
                {% endif %}
            {% endwith %}
        {% endfor %}
        </div>
    {% endif %}

    {% block page_header %}
    {% endblock %}

    {% block content %}
    {% endblock %}



  <footer id="footer">
    <ul class="social-networks">
      <li>
        <a href="http://facebook.com" target="_blank" rel="noopener"
          aria-label="Visit our Facebook (opens in a new tab)"><i class="fa-brands fa-facebook"></i></a>
      </li>
      <li>
        <a href="http://twitter.com" target="_blank" rel="noopener"
          aria-label="Visit our Twitter (opens in a new tab)"><i class="fa-brands fa-twitter"></i></a>
      </li>
      <li>
        <a href="http://youtube.com" target="_blank" rel="noopener"
          aria-label="Visit our Youtube (opens in a new tab)"><i class="fa-brands fa-youtube-square"></i></a>
      </li>
      <li>
        <a href="http://instagram.com" target="_blank" rel="noopener"
          aria-label="Visit our Instagram (opens in a new tab)"><i class="fa-brands fa-instagram"></i></a>
      </li>
    </ul>
  </footer>

  {% block postloadjs %}
  <script>
      $('.toast').toast('show');
  </script>
  {% endblock %}

</body>

</html>