{% extends "base.html" %}
{% load static %}

{% block page_header %}
{% endblock %}

{% block content %}
    <div class="container text-center">
        <div class="row w-100 m-0 text-center">
            <div class="col text-center mt-3">
                <h1 class="display-4 header">Product Management</h1>
            </div>
        </div>
        <div class="row text-center mt-3">
            <div class="card col p-0">
                <div class="card_contents">
                    <div class="col-12 col-md-12">
                        <form method="POST" action="{% url 'edit_product' product.id %}" class="form mb-2" enctype="multipart/form-data">
                            {% csrf_token %}
                            {% for field in form %}
                                {% if field.name != 'image' %}
                                    {{ field | as_crispy_field }}
                                {% else %}
                                    {{ field }}
                                {% endif %}
                            {% endfor %}
                            <div class="text-right">
                                <a class="btn btn-outline-black" href="{% url 'home' %}">Cancel</a>
                                <button class="btn btn-black" type="submit">Update Product</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block postloadjs %}
    {{ block.super }}
    <script>
        $('#new-image').change(function() {
            var file = $('#new-image')[0].files[0];
            $('#filename').text(`Image will be set to: ${file.name}`);
        });
    </script>
{% endblock %}